<div class="">
    <div id="modalRes" class="hidden fixed top-32 w-3/4 bg-slate-400 px-4 py-6 rounded-xl border-4 shadow-2xl animate__animated animate__fadeInDown">
        <div>
            <h1 class="text-center font-bold text-white mb-2">Agregar/Modificar Producto compuesto</h1>
            <div>
                <div class="container">
                    <form method="POST" action="{% url 'stockCompuesto' %}" id="id_mod_comp_method">
                        {% csrf_token %}
                        <input type="hidden" id="modal_method" name="_method" value="CREATE">
                        <input type="hidden" id="modal_id_stock_compuesto" name="id_stock_compuesto" value="">
                        {{ compuesto_form.as_p }}
                        <button id="btnSubmit" type="submit" class="px-4 py-2 bg-green-600 rounded-xl font-bold text-white hover:bg-green-800">Guardar Producto</button>
                        <button id="btnCerrar" type="button" class="mt-10 px-4 py-2 bg-red-600 rounded-xl font-bold text-white hover:bg-red-800 text-center">Cerrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    {% comment %} const modalRes = document.querySelector('#modalRes');
    const btnCerrar = document.querySelector('#btnCerrar');
    const btnSubmit = document.querySelector('#btnSubmit');


    btnCerrar.addEventListener('click', () => {
        console.log('cerrando modal')
        modalRes.classList.remove('block');
        modalRes.classList.add('hidden');
    }) {% endcomment %}


    {% comment %} function openModifyCompuesto(id_stock_compuesto) {
        const modal = document.getElementById('modalRes');
        const modalMethod = document.getElementById('modal_method');
        const modalId = document.getElementById('modal_id_stock_compuesto');
    
        if (id_stock_compuesto) {
            // Modificar
            modalMethod.value = 'UPDATE';
            modalId.value = id_stock_compuesto;
        } else {
            // Crear
            modalMethod.value = 'CREATE';
            modalId.value = '';
        }
    
        modal.classList.remove('hidden');
    } {% endcomment %}
    
    document.getElementById('btnCerrar').addEventListener('click', function () {
        document.getElementById('modalRes').classList.add('hidden');
    });

</script>