{% extends "base.html" %}

{% block content %}
  

    <h2 class="text-base md:text-2xl font-bold mb-4 ">Reporte de Movimientos de Stock Compuesto</h2>
    <div class="container mx-auto">
        <div class="overflow-x-auto">
            <table class="mt-4 w-full border-collapse border border-gray-400 text-sm sm:text-base">
                <thead>
                    <tr class="bg-gray-700 text-white">

                        <th class="border border-gray-400 px-2 sm:px-4 py-1">Prod. Compuesto</th>
                        <th class="border border-gray-400 px-2 sm:px-4 py-1">Cantidad movida</th>
                        <th class="border border-gray-400 px-2 sm:px-4 py-1">Art. Vendido</th>
                        <th class="border border-gray-400 px-2 sm:px-4 py-1">Peso vendido</th>
                        <th class="border border-gray-400 px-2 sm:px-4 py-1">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movimiento in movimientos %}
                    <tr class="border-b hover:bg-gray-200">

                        <td class="border border-gray-400 px-2 sm:px-4 py-1 capitalize">{{ movimiento.descripcion }}</td>
                        <td class="border border-gray-400 px-2 sm:px-4 py-1">{{ movimiento.peso_vendido }}  Kg</td>
                        <td class="border border-gray-400 px-2 sm:px-4 py-1">{{ movimiento.item_venta }}</td>
                        <td class="border border-gray-400 px-2 sm:px-4 py-1">{{ movimiento.cantidad }}  Kg</td>
                        <td class="border border-gray-400 px-2 sm:px-4 py-1">{{ movimiento.fecha_venta }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="py-4 text-gray-500">No hay movimientos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class=" mt-4 flex justify-center space-x-2">
                {% if movimientos.has_previous %}
                    <a href="?page=1" class="mx-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-black rounded">Primera</a>
                    <a href="?page={{ movimientos.previous_page_number }}" class="mx-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-black rounded">Anterior</a>
                {% endif %}
            
                <span class="px-4 py-2 bg-gray-100 text-gray-700 rounded">
                    Página {{ movimientos.number }} de {{ movimientos.paginator.num_pages }}
                </span>
            
                {% if movimientos.has_next %}
                    <a href="?page={{ movimientos.next_page_number }}" class="mx-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-black rounded">Siguiente</a>
                    <a href="?page={{ movimientos.paginator.num_pages }}" class="mx-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-black rounded">Última</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}