{% extends "base.html" %}

{% block content %}
    <h1>Esto es reporte de ventas va a tener un input de que dia a que dia y un buscar.</h1>
    <div class="flex gap-5 mt-10">
        <input class=" px-6 py-2 rounded shadow-xl border-2" type="date"/>
        <input class=" px-6 py-2 rounded shadow-xl border-2" type="date"/>
        <button class="px-6 py-2 border rounded-xl shadow-xl border-2 font-bold  bg-green-400 hover:bg-green-500">Buscar</button>
    </div>

    <div>
        <table>
            <table class="w-full border-4 mt-10 py-4 px-4"> <!--ESTA TABLA HAY QUE ITERAR EL STOCK DE LA BASE-->
                <thead class="bg-zinc-400">  <!-- ITERAMOS CON EL FOR DE DJANGO -->
                    <tr>
                      <th>Fecha</th>
                      <th>Venta </th>
                      <th>Tipo de venta</th>
                      <th>Monto total</th>
                    </tr>
                </thead>
                    <tbody class="border-4">
                        <tr class="border-4 font-bold hover:bg-sky-400 hover:text-white">
                            <td>Dato 1</td>
                            <td>Dato 2</td>
                            <td>Dato 2</td>
                            <td>Dato 3</td>
                        </tr>
                        <tr class="border-4 font-bold hover:bg-sky-400 hover:text-white">
                            <td>Otro dato 1</td>
                            <td>Otro dato 2</td>
                            <td>Otro dato 2</td>

                            <td>Otro dato 3</td>
                        </tr>
                  </tbody>
            </table>

        </table>

    </div>
{% endblock content %}